.leaderboard {
	max-width: 490px;
	width: 100%;
	border-radius: 12px;
}

.leaderboard  header {
	--start: 15%;

	height: 130px;
	background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(37, 159, 108, .33) 17%), linear-gradient(to right, #30cf8c, #1a734e);
	color: #fff;
	position: relative;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
} 

.leaderboard header .leaderboard__title {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: calc(var(--start) * .45);
	transform: translateY(-50%);
	margin: 0;
}   
.leaderboard header .leaderboard__title span {
	display: block;
}    

.leaderboard header .leaderboard__title--top {
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 6.5px;
}

.leaderboard header .leaderboard__title--bottom {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 3.55px;
	opacity: .65;
	transform: translateY(-2px);
}

.leaderboard header .leaderboard__icon {
	fill: #fff;
	opacity: .55;
	width: 65px;
	position: absolute;
	top: 50%;
	left: var(--start);
	transform: translate(-50%, -50%);
}

.leaderboard header .leaderboard__icon g path {
	stroke-width="10";
}


.leaderboard__profiles {
	background-color: #fff;
	border-radius: 0 0 12px 12px;
	padding: 15px 15px 20px;
	display: grid;
	row-gap: 8px;
}

.leaderboard__profile {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	padding: 10px 30px 10px 10px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
	cursor: pointer;
	transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
	background-color: #fff;
	height: 60px;

}

.leaderboard__profile:hover {
	transform: scale(1.1);
	box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.leaderboard__picture {
	max-width: 100%;
	width: 60px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.leaderboard__name {
	color: #979cb0;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.64px;
	margin-left: 22px;
	text-align: right;
}

.buttonWrapper {
	text-align: center;
	height: 50px;
}

.submitButton{
	color: black; /* button text color */
	outline: none;
	background: transparent;
	border: none;
	border-bottom: 4px solid #eee;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
	font: bold 16px 'Bitter', sans-serif; /* use google font */
	line-height: 2;
	position: relative;
	top: 30%;
	cursor: pointer;
	text-decoration: none; /* remove underline if using A instead of BUTTON tag */
	overflow: hidden;
	transition: all .5s;
	height: 40px;
}


.submitButton:before,
.submitButton:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: #259f6c; /* onhover background color */
	z-index: -1;
	transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
	transition: all .5s;
}

.submitButton:before{
	background: #fafcd6; /* button default background color */
	z-index: -2;
	transform: translate3D(0,0,0);
}

.submitButton:hover{
	color: white;
}

.submitButton:hover:after{
	transform: translate3D(0,0,0);
	transition: all .5s;
}


.submitButton{
	transform-style: preserve-3d;
}

.submitButton:before,
.submitButton:after{
	transform-origin: center center;
	transform: scale(1,0);
}


.submitButton:hover:before,
.submitButton:hover:after{
	transform: scale(1);
	border-radius: 0;
}

body {
	margin: 0;
	background-color: #eaeaea;
	display: grid;
	height: 100vh;
	place-items: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.leaderboard {
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
}



/* For the checkboxed */
.checkbox {
	-webkit-appearance: none;
	background-color: #ffaeae85;
	border-radius: 8px;
	display: inline-block;
	position: relative;
	width: 36px;
	height: 36px;
	margin-left: 30px;
}

.checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

.checkbox:checked {
	background-color: #259f6c;
	border: 1px solid #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}


.checkbox:checked:after {
	content: '\2713';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;
	font-size: 28px;
	left: 6px;
}
