<label for="sources-dropdown">Article sources:</label>
<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" style="min-width: 100%;" type="button" id="sources-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
		{{sourcesDetailsDict|length}} options.
	</button>
	<ul style="padding: 1em;" class="dropdown-menu" aria-labelledby="sources-dropdown">
		{% for source, details in sourcesDetailsDict.items() %}
			<li><div class="form-check">
					<label class="form-check-label" for="{{ source }}-checkbox">
						<input class="form-check-input" type="checkbox" name="profiles" value="{{ source }}" id="{{ source }}-checkbox" {% if source in g.paramaters['profiles'] %}checked{% endif %}> {{ details['name'] }}
					</label>
			</div></li>
			<li><hr class="dropdown-divider"></li>
		{% endfor %}
	</ul>
</div>
