section#article-list {
	padding: 4rem 6rem 4rem 6rem;

	height: 100%;
	overflow-y: scroll;

	border-right: 1px solid #efefef;

	header {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 5rem;

		h2 {
			@include font(0.7, 700, 2.5rem);
			margin-bottom: 0.2rem;
			line-height: 1.7rem;
		}

		svg {
			width: 1.4rem;
			height: 1.4rem;
			color: rgb(70, 70, 70);

			transition: background-color .2s ease-in-out;

			cursor: pointer;

			&:hover {
				background-color: rgba(0,0,0,.03);
			}
		}

	}

	@import "large_articles";

	hr {
		border: 1px solid rgba(0, 0, 0, 0.05);
	}

}
