article {
	display: flex;
	align-items: center;
	gap: 1rem;

	cursor: pointer;

	padding: 0.2rem;
	font-family: sans-serif;

	&:hover {
		background-color: rgba(0,0,0,.05);
	}

	* {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: rgb(125, 125, 125);
	}

	button.read-later {
		@include button()
	}

	p.source {
		flex-shrink: 0;
		width: 6%;
		@include font(0.6, 300);
	}

	time {
		flex-shrink: 0;
		@include font(0.6, 300, 0.6rem);
		margin-left: auto;
	}

	.article-content {
		flex-shrink: 1;

		p, h3 {
			display: inline;
		}

		p {
			font-size: 0.9rem;
		}

		h3 {
			@include font(1, 600, 1rem);
		}
	}



	&:last-child {
		margin-bottom: 8rem;
	}
}
