@mixin truncate($lines: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin font($opacity: 0.8, $weight: 700, $size: 0.8125rem) {
	font-weight: $weight;
	font-size: $size;
	font-family: sans;
	color: rgb(0, 0, 0, $opacity);
}

@mixin button($size: 2rem) {
	padding: calc($size / 5);
	height: $size;
	width: $size;

	cursor: pointer;
	transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

	border: none;
	background-color: transparent;

	flex-shrink: 0;

	&:hover {
		background-color: rgba(0,0,0,.05);
	}

	svg {
		height: calc($size * 0.6);
		width: calc($size * 0.6);
	}
}

@import "navbar";
@import "article_list";
@import "article_content";

* {
	margin: 0px;
}

body {
	margin: 0px;
}

main {
	display: flex;
	align-content: center;
	height: auto;
	min-height: 100%;
	overflow: hidden;
}


#main-content {
	height: 100vh;
	width: calc(100vw - 18rem);
	display: flex;
	flex-direction: column;
}

#search-box {
	height: 4rem;
	border-bottom: 1px solid #efefef;

	display: flex;
	align-items: center;

	label {
		opacity: 40%;
		margin: 1.1rem;
		cursor: text;
	}
	input {
		padding: 0rem;
		border: none;

		@include font(0.5, 500);
		height: 100%;
		flex-grow: 1;
		outline: 0;
	}
}

#article-overview {
	display: flex;
	flex-direction: row;
	height: 100%;
}
