<html>
	<head>
		<meta charset="utf-8">
		<title>400 - Problem with query paramater</title>
		<meta name="viewport" content="width=device-width initial-scale=1" />
	</head>
	<body>
			<h2>400 - Problem with the profile query paramater</h2>
			<p> {{ wrongInput }} isn't recognized as a query paramater for {{ paramater }}. {{ fix }}</p>
	</body>
	<!--
		Disse sider vedligeholdes af Tor Rønnow. Du ser dem bedst med Internet Explorer 4.0.
		Kommentarer vedrørende disse sider er meget velkomne.
		- bagkost.dk, 8. februar 1999
	-->
</html>

