{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='CSS/adminPanel.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='CSS/tables.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="boxedArea">
	<table>
		<tr>
			<th>Username</th>
			<th>Delete User</th>
			<th>Change Password</th>

		</tr>

		{% for user in users %}
			<tr>

					<td> {{user}} </td>
					<td> <form method="POST"> {{ deleteForm.csrf_token }} {{ deleteForm.delete }} </form> </td>
					<td> <form method="POST"> {{ changeForm.csrf_token }} {{ changeForm.newPassword }} <br> {{ changeForm.changePassword }} </form> </td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
