
<html>
	<head>
		<meta charset="utf-8">
		<title>OSINTer - Configure sources</title>
		<meta name="viewport" content="width=device-width initial-scale=1" />
		<link href="{{ url_for('static', filename='CSS/chooseNewsSource.css') }}" rel="stylesheet">
		{% for element in ['checkbox', 'onOffSwitch', 'submitButton'] %}
			<link href="{{ url_for('static', filename='CSS/elements/%s.css' % element) }}" rel="stylesheet">
		{% endfor %}
	</head>
	<body>
		<article class="leaderboard">
			<header>
				<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" style="overflow: visible;" viewBox="0 0 512 512" data-svgdocument="" id="_f7eaOQMY8CGfd5mEGRFek" class="leaderboard__icon" x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g data-uid="o_eicnl18bi_30" transform="matrix(-5.922943592071533, 0, 0, 5.922943592071533, 552.1412651081137, -40.1424560546875)">
					<path d="M67.361,17.159C53.521,3.317,31,3.317,17.158,17.159C3.317,31,3.317,53.521,17.158,67.361  c13.367,13.367,34.826,13.822,48.748,1.373l2.814,2.814c-0.701,1.795-0.334,3.908,1.115,5.357l14.85,14.851  c1.953,1.953,5.119,1.952,7.071,0c1.953-1.952,1.953-5.118,0-7.071l-14.85-14.848c-1.449-1.449-3.564-1.816-5.357-1.115  l-2.815-2.816C81.186,51.984,80.729,30.525,67.361,17.159z M21.401,63.12c-11.502-11.502-11.502-30.216,0-41.718  c11.502-11.503,30.217-11.502,41.719,0s11.502,30.217,0,41.719S32.903,74.622,21.401,63.12z" transform="matrix(1, 0, 0, 1, 0, 0)" data-uid="o_eicnl18bi_27"></path>
					<path d="M28.409,28.152c5.024-5.024,10.863-8.671,17.003-10.945c-6.956-0.397-14.406,2.31-20.123,8.026  c-5.796,5.796-8.495,13.375-8.003,20.416C19.543,39.327,23.25,33.311,28.409,28.152z" transform="matrix(1, 0, 0, 1, 0, 0)" data-uid="o_eicnl18bi_28"></path>
					</g>
				</svg>
				<h1 class="leaderboard__title">
					<span class="leaderboard__title--top">OSINT'er</span>
					<span class="leaderboard__title--bottom">Intelligent <br> Webscraping</span>
				</h1>
			</header>

			<form action="/" method="get">
				<main class="leaderboard__profiles">
					{% for source, details in sourceDetailsDict.items() %}

					<label for="{{ source }}-checkbox">
						<article class="leaderboard__profile">
							<img src="{{ details['image'] }}" alt="{{ details['name'] }}" class="leaderboard__picture">
							<span class="leaderboard__name">{{ details['name']}}</span>
							<input id="{{ source }}-checkbox" type="checkbox" class="checkbox" name="profiles" value="{{ source }}">
						</article>
					</label>

					{% endfor %}

					<div class="bottom-inputs">
						<div class="reading-input">
							<h3>Reading?</h3>
							<div class="onoffswitch">
								<input type="checkbox" name="reading" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0">
								<label class="onoffswitch-label" for="myonoffswitch">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</div>
						<div class="limit-input">
							<h3>Limit?</h3>
							<input type="number" name="limit" value="10" class="limit-input-box" min="1" max="100">
						</div>
					</div>
				</main>
				<div class="buttonWrapper">
					<button type="submit" class="submitButton"> Search </button>
				</div>
			</form>

	</body>
</html>


