{% extends "basewithjs.html" %}
{% block title %}Configure Sources{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/chooseNewsSource.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<form action="{{ url_for('index') }}" method="get">
	<div class="container p-3 my-3 border">
		<div class="row">
			{% include 'forms/sources-boxes.html' %}
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Reading Mode</h2>
					<p>When reading mode is enabled, articles are loaded and rendered from the markdown files instead of the scraped article data. This allows for articles to be read while the publishers site is unresponsive.</p>
					<div style="width: 50%; margin: auto">
						{% include 'forms/reading-mode.html' %}
					</div>
					<br>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Item Limit</h2>
					<p>This parameter defines the number of articles retrieved from the various publishers and displayed. The higher the amount the more time it may take for the system to retrieve the articles during scraping.</p><br>
					{% include 'forms/article-limit.html' %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Search term</h2>
					<div class="input-group">
						<input type="text" name="searchTerm" class="form-control" aria-label="Search term">
					</div>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>First and last date</h2>
					{% include 'forms/dates.html' %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					{% if current_user.is_authenticated %}
					<h2>Saved articles</h2>
					<p>Only show articles which has been saved by the current user.</p>
					<div style="width: 50%; margin: auto">
						{% include 'forms/saved-mode.html' %}
					</div>
					<br>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Sort by</h2>
					<p>Choose which paramater OSINTer sorts the article by, and whether it should be ascending or descending</p>
					{% include 'forms/sort.html' %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Search:</h2>
					<p>When you click this button you'll be send back to the main page, however when you get there it will be updated with only the items you have selected in the categories above.</p>
					<button type="submit" class="btn btn-secondary listview-item-checkbutton float-end">Search</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

