{% extends "basewithjs.html" %}
{% block title %}Configure Sources{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/chooseNewsSource.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<form action="{{ url_for('index') }}" method="get">
	<div class="container p-3 my-3 border">
		<div class="row">
		{% for source, details in sourceDetailsDict.items() %}
			<div class="col-lg-4 col-md-6 listview-item">
				<input id="{{ source }}-checkbox" value="{{ source }}" type="checkbox" class="btn-check" name="profiles" autocomplete="off">
				<label class="btn btn-secondary w-100" for="{{ source }}-checkbox">
					<img src="{{ details['image'] }}" alt="{{ details['name'] }}" class="border border-1 cover source_large rounded border-0 d-none d-sm-block" />
					<img src="{{ details['image'] }}" alt="{{ details['name'] }}" class="border border-1 cover source_small rounded border-0 d-block d-sm-none" />
					<div class="source-desc d-none d-md-block">
						<h2>{{ details['name'] }}</h2>
					</div>
					<div class="d-block d-md-none source-desc-sm">
						<h2>{{ details['name'] }}</h2>
					</div>
				</label>
			</div>
		{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Reading Mode</h2>
					<p>When reading mode is enabled, articles are loaded and rendered from the markdown files instead of the scraped article data. This allows for articles to be read while the publishers site is unresponsive.</p>
					<input id="readingmode-checkbox" name="reading" type="checkbox" class="btn-check" autocomplete="off">
					<label style="margin-top:-3rem;" class="btn btn-secondary float-end listview-item-checkbutton" for="readingmode-checkbox">Enable</label>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Item Limit</h2>
					<p>This parameter defines the number of articles retrieved from the various publishers and displayed. The higher the amount the more time it may take for the system to retrieve the articles during scraping.</p>
					<div class="input-group config-item-limitfield">
						<input type="number" name="limit" value="50" min="1" max="1000" class="form-control" aria-label="Number of articles">
						<span class="input-group-text">articles</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Search term</h2>
					<div class="input-group">
						<input type="text" name="q" class="form-control" aria-label="Search term">
					</div>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>First and last date</h2>
					<div class="input-group row">
						<div class="col-sm-6">
							<label for="firstDate">First date:</label>
							<input class="form-control" type="date" id="firstDdate" name="firstdate">
						</div>
						<div class="col-sm-6">
							<label for="lastDate">Last date:</label>
							<input class="form-control" type="date" id="lastDate" name="lastDate">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		{% if current_user.is_authenticated %}
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Saved articles</h2>
					<p>Only show articles which has been saved by the current user.</p>
					<input id="saved-checkbox" name="saved" type="checkbox" class="btn-check" autocomplete="off">
					<label style="margin-top:-3rem;" class="btn btn-secondary float-end listview-item-checkbutton" for="saved-checkbox">Enable</label>
				</div>
			</div>
		{% endif %}
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Sort by</h2>
					<p>Choose which paramater OSINTer sorts the article by, and whether it should be ascending or descending</p>
					<div class="input-group row">
						<div class="col-sm-6">
							<label for="sortOrder">Sort order:</label>
							<select class="form-control" id="sortOrder" name="sortOrder">
								<option value="desc">Descending</option>
								<option value="asc">Ascending</option>
							</select>
						</div>
						<div class="col-sm-6">
							<label for="sortBy">Sort by:</label>
							<select class="form-control" id="sortBy" name="sortBy">
								<option value="publish_date">Publish date</option>
								<option value="source">Source</option>
								<option value="author">Author</option>
								<option value="url">URL</option>
								<option value="inserted_at">Time of scraping</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Search:</h2>
					<p>When you click this button you'll be send back to the main page, however when you get there it will be updated with only the items you have selected in the categories above.</p>
					<button type="submit" class="btn btn-secondary listview-item-checkbutton float-end">Search</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

