{% extends "basewithjs.html" %}
{% block title %}Configure Sources{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/chooseNewsSource.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<form action="{{ url_for('index') }}" method="get">
	<div class="container p-3 my-3 border">
		<div class="row">
			{% include 'forms/sources-boxes.html' %}
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Reading Mode</h2>
					<p>When reading mode is enabled, articles are loaded and rendered from local markdown files instead of linking to article.</p>
					<div style="width: 50%; margin: auto">
						{% include 'forms/reading-mode.html' %}
					</div>
					<br>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
						<h2>Saved articles</h2>
						{% if current_user.is_authenticated %}
							<p>Checking this button will make OSINTer only show articles which has been saved by the current user..</p>
						{% else%}
							<p>Saved articles are tied to user accounts, and such it is required that you either sign in or sign up.
						{% endif %}
						<div style="width: 50%; margin: auto">
							{% if current_user.is_authenticated %}
								{% include 'forms/saved-mode.html' %}
							{% else%}
								<a style="margin: auto; width: 100%; font-family: var(--bs-body-font-family) !important;" class="btn btn-secondary" href="{{ url_for('login') }}" role="button">Login</a>
							{% endif %}

						</div>
						<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>First and last date</h2>
					<p>Enter the wanted date interval. Only articles <strong>published</strong> within this interval will be shown.</p>
					{% include 'forms/dates.html' %}
					<br>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Sort by</h2>
					<p>Choose which paramater OSINTer sorts the article by, and whether it should be ascending or descending</p>
					{% include 'forms/sort.html' %}
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Item Limit</h2>
					<p>This parameter defines the number of articles retrieved from the various publishers and displayed. The higher the amount the more time it may take for the system to retrieve the articles during scraping.</p>
					{% include 'forms/article-limit.html' %}
					<br>
				</div>
			</div>
			<div class="col-sm-6 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Search term</h2>
					<p> Use this field to search for specific words or phrases. It uses much of the same syntax as you're probably familiar with from Google (like "" for matching specific phrases).
					<div class="input-group">
						<input type="text" value="{{ g.paramaters['searchTerm'] }}" name="searchTerm" class="form-control" aria-label="Search term">
					</div>
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 listview-item config-item">
				<div class="border border-1 rounded ps-3 pt-3">
					<h2>Search:</h2>
					<p>When you click this button you'll be send back to the main page, however when you get there it will be updated with only the items you have selected in the categories above.</p>
					<div style="width: 50%; margin: auto">
						<button style="width: 100%" type="submit" class="btn btn-secondary listview-item-checkbutton">Search</button>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

