{% extends "basewithjs.html" %}
{% block title %}Feed{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='CSS/feed.css') }}" rel="stylesheet">
<style>
	:root {
		--expand-icon-path: url("{{ url_for('static', filename='assets/expand.png') }}")
	}
</style>
{{ super() }}
{% endblock %}
{% block body %}
<script>
	function markArticle(articleID, markType, add) {
		const HTTPOptions = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({"articleID" : articleID, "markType" : markType, "add" : add})
		}
		fetch('{{ url_for("markArticleByID") }}', HTTPOptions)
	}

	function saveArticle(articleID){
		// Must be inverted because it reads the checked value BEFORE bootstrap has checked it
		itemchecked = !document.getElementById(`${articleID}-checkbox`).checked
		markArticle(articleID, "save", itemchecked)
	}

</script>
<div class="container d-none d-lg-block">
	<div id="maincarusel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
		{% for article in articleList %}
			{% if loop.first %}
			<div class="carousel-item gallery active">
				<div class="row">
			{% elif loop.index % 2 == 1 %}
			<div class="carousel-item gallery">
				<div class="row">
				{% endif %}
					<div class="col-sm-6">
						<a {% if current_user.is_authenticated and article.read %} class="read" {% endif %} href="{{ article.url }}" alt="{{ article.title }}" articleID="{{ article.id }}" target="_blank" rel="noopener noreferrer">
							<div class="gallery-container" >
								<img src="{{ article.image_url }}" class="gallery" alt="{{ article.title }}" />
								<div class="desc">
									{% markdown %}##{{ article.title }}{% endmarkdown %}
									{% markdown %}{{ article.description }}{% endmarkdown %}
								</div>
							</div>
						</a>
					</div>
				{% if loop.nextitem == undefined %}
					<div class="col-sm-6"></div>
				{% endif %}
				{% if (loop.index % 2) == 0 or loop.nextitem == undefined %}
				</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#maincarusel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#maincarusel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>

<div class="container p-3 my-3 border">
	<form action="">
		<div class="input-group">
			<input value="{{ g.paramaters['searchTerm'] }}" type="text" name="q" class="form-control" placeholder="Search" aria-label="Search Query">
			<div class="btn-group">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="collapse" data-bs-target="#search-collapse" aria-expanded="false" aria-controls="search-collapse"></button>
			</div>
		</div>


		<div class="collapse" id="search-collapse">
		<br>
			<div class="card card-body">

				<div class="input-group row">
					<div class="col-sm-6">
						<input id="readingmode-checkbox" name="reading" type="checkbox" class="btn-check" autocomplete="off" {% if g.paramaters['reading'] %}checked{% endif %}>
						<label style="margin: auto; width: 100%;" for="readingmode-checkbox" class="btn btn-secondary float-end listview-item-checkbutton">Reading mode</label>
					</div>
				{% if current_user.is_authenticated %}
					<div class="col-sm-6">
						<input id="saved-checkbox" name="saved" type="checkbox" class="btn-check" autocomplete="off" {% if g.paramaters['saved'] %}checked{% endif %}>
						<label style="margin: auto; width: 100%;" for="saved-checkbox" class="btn btn-secondary float-end listview-item-checkbutton">Saved articles</label>
					</div>
				{% endif %}
				</div>


				<div class="input-group row">
					<div class="col-sm-6">
						<label for="firstDate">First date:</label>
						<input class="form-control" type="date" id="firstDate" name="firstDate" value="{{g.paramaters['firstDate']}}">
					</div>
					<div class="col-sm-6">
						<label for="lastDate">Last date:</label>
						<input class="form-control" type="date" id="lastDate" name="lastDate" value="{{g.paramaters['lastDate']}}">
					</div>
				</div>


				<div class="input-group row">
					<div class="col-sm-6">
						<label for="sortOrder">Sort order:</label>
						<select class="form-control" id="sortOrder" name="sortOrder">
							{% for valueName in [['desc', 'Descending'], ['asc', 'Ascending']]%}
								<option value="{{valueName[0]}}" {% if valueName[0] == g.paramaters['sortOrder']%}selected="selected"{% endif %}>{{valueName[1]}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6">
						<label for="sortBy">Sort by:</label>
						<select class="form-control" id="sortBy" name="sortBy">
							{% for valueName in [['', 'None'], ['publish_date', 'Publish date'], ['source', 'Source'], ['author', 'Author'], ['url', 'URL'], ['inserted_at', 'Time of scraping']]%}
								<option value="{{valueName[0]}}" {% if valueName[0] == g.paramaters['sortBy']%}selected="selected"{% endif %}>{{valueName[1]}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="input-group row">
					<div class="col-sm-6">
						<label for="sources-dropdown">Article sources:</label>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" style="min-width: 100%;" type="button" id="sources-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
								{{sourcesDetailsDict|length}} options.
							</button>
							<ul style="padding: 1em;" class="dropdown-menu" aria-labelledby="sources-dropdown">
								{% for source, details in sourcesDetailsDict.items() %}
									<li><div class="form-check">
											<label class="form-check-label" for="{{ source }}-checkbox">
												<input class="form-check-input" type="checkbox" name="profiles" value="{{ source }}" id="{{ source }}-checkbox" {% if source in g.paramaters['profiles'] %}checked{% endif %}> {{ details['name'] }}
											</label>
									</div></li>
									<li><hr class="dropdown-divider"></li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="col-sm-6">
						<label for="limit">Limit:</label>
						<div class="input-group config-item-limitfield">
							<input type="number" id="limit" name="limit" value="{% if g.paramaters['limit'] %}{{g.paramaters['limit']}}{% else %}50{% endif %}" min="1" max="1000" class="form-control" aria-label="Number of articles">
							<span class="input-group-text">articles</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	 </form>
</div>

<div class="container p-3 my-3 border">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="border border-warning border-1 p-3">
		{% for msg in messages %}
		<i class="fas fa-exclamation"></i> <span class="error-message">{{ msg }}</span>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}

	{% for article in articleList%}
	<div class="row">
		<div class="col-sm-12 listview-item listview-item-hoverable">
			{% if current_user.is_authenticated %}
			{% if article.saved %}
			<input id="{{ article.id }}-checkbox" type="checkbox" class="btn-check" autocomplete="off" checked>
			{% else %}
			<input id="{{ article.id }}-checkbox" type="checkbox" class="btn-check" autocomplete="off">
			{% endif %}
			<label class="btn btn-secondary float-end listview-item-checkbutton" for="{{ article.id }}-checkbox" onclick="javascript:saveArticle('{{ article.id }}')">Save Article</label>
			{% endif %}
			<a {% if current_user.is_authenticated and article.read %} class="read" {% endif %} href="{{ article.url }}" articleID="{{ article.id }}" target="_blank" rel="noopener noreferrer">
				<div style="min-height: 202px;" class="border border-1 rounded">
					<img src="{{ article.image_url }}" class="img-thumbnail thumbnail cover rounded float-start border-0 d-none d-sm-block" alt="{{ article.title }}" />
					<img src="{{ article.image_url }}" class="thumbnail w-100 rounded float-start border-0 d-block d-sm-none" alt="{{ article.title }}" />
					{% markdown %}##{{ article.title }}{% endmarkdown %}
					<p class="source">Author: {{ article.author }} - Publisher: {{ article.profile }} - Published: {{ article.publish_date }}</p>
					{% markdown %}{{ article.description }}{% endmarkdown %}
					<div class="collapse" id="{{ article.id }}-summary">
					  <div class="card card-body">
						  {% markdown %}{{ article.summary }}{% endmarkdown %}
					  </div>
					</div>

				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

{% if current_user.is_authenticated %}
	<script src="{{ url_for('static', filename='JS/trackLinks.js') }}"></script>
{% endif %}

<script src="{{ url_for('static', filename='JS/handleRightClick.js') }}"></script>

{% endblock %}
