{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/authentification.css') }}">
{% endblock %}
{% block body %}

<div class="form-wrapper">
	<a href="/login" title="Login"><h2 class="title">Login</h2></a>
	<a href="/signup" title"Sign Up"><h2 id="selectedTitle" class="title">Sign Up</h2></a>

  <form method="POST" action="">
	  {{ form.csrf_token }}

	  <fieldset class="form-field">{{ form.username.label }} {{ form.username }}
		{% if form.username.errors %}
		  <ul class="errors">
			{% for error in form.username.errors %}
			  <li class="error">
				  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
			  </li>
			{% endfor %}
		  </ul>
		{% endif %}
	  </fieldset>

	  <fieldset class="form-field">{{ form.password.label }} {{ form.password }}
		{% if form.password.errors %}
		  <ul class="errors">
			{% for error in form.password.errors %}
			  <li class="error">
				  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
			  </li>
			{% endfor %}
		  </ul>
		{% endif %}
	  </fieldset>

	  <fieldset class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
		{% if form.confirmPassword.errors %}
		  <ul class="errors">
			{% for error in form.confirmPassword.errors %}
			  <li class="error">
				  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
			  </li>
			{% endfor %}
		  </ul>
		{% endif %}
	  </fieldset>

	  {{ form.submit }}

  </form>
</div>
<span id=logo>
	<a href="/" title="Return to front page">
		<img src="{{ url_for('static', filename='assets/newLogo.png') }}" alt="OSINTer"/>
	</a>
	<p>Intelligent webscraping</p>
</span>
{% endblock %}
