{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="form-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 d-md-none d-lg-block"></div>
			<div class="col-lg-4 col-md-12">
				<nav class="navbar navbar-expand navbar-light bg-light">
					<div class="container-fluid">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="{{ url_for('login') }}" title="Login">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="{{ url_for('signup') }}" title="Sign Up">Sign Up</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<form method="POST" class="border border-1 p-3">
					{{ form.csrf_token }}

					<fieldset class="mb-3">
						{{ form.username.label(class_="form-label") }} 
						{{ form.username(class_="form-control") }}
						{% if form.username.errors %}
						<div class="border border-1 border-warning p-3">
							{% for error in form.username.errors %}
								<i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</fieldset>

					<fieldset class="mb-3">
						{{ form.password.label(class_="form-label") }}
						{{ form.password(class_="form-control") }}
						{% if form.password.errors %}
						<div class="border border-1 border-warning p-3">
							{% for error in form.password.errors %}
								<i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</fieldset>

					<fieldset class="mb-3">
						{{ form.confirmPassword.label(class_="form-label") }} 
						{{ form.confirmPassword(class_="form-control") }}
						{% if form.confirmPassword.errors %}
						<div class="border border-1 border-warning p-3">
							{% for error in form.confirmPassword.errors %}
								<i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</fieldset>

					{{ form.submit(class_="btn btn-success") }}
			  
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
